.app-sidebar {
    position: absolute;
    display: flex;
    z-index: 100;
    height: 100%;
    left: 0;
    background-color: var(--dark-mode-dark-color);
}

.app-sidebar.expanded {
    width: 10rem;
}

.app-sidebar.collapsed {
    width: 3rem;
}

.app-sidebar>ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sidebar-li {
    list-style: none;
    margin-top: 1rem;
}